@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div clas="vw-100" style="background-color:blue;">
    
</div>

<div class="w-100 p-3 text-center" style="background-color: #eee;">
    <canvas class="mx-auto" width="400" height="400" style="border:2px solid;"></canvas>
</div>