@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/paint.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container" style="background-color: #eee;">
    <div class="row">
        <div id="canvasContainer" class="col text-center">
            <canvas id="can" class="mx-auto" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-info btn-lg btn-block" onclick="erase()">Limpiar</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success btn-lg btn-block" onclick="send()">Enviar</button>
        </div>
    </div>
</div>

@* <div class="w-100 p-3 text-center" style="background-color: #eee;">
    <canvas id="can" class="mx-auto" width="400" height="400" style="border:2px solid;background-color: #fff;"></canvas>
</div> *@