@{
    ViewData["Title"] = "Información";
}
<h1>¿Qué es OMER?</h1>
<p>
    Omer (Optical Mathematical Expression Recognition) es un projecto cuyo objetivo es idetenficar expresiones matemáticas, por medio de intelegencia artifical y visión 
    por computadora usando una imagen o foto como entrada y se busca que el formato de salida sea usando Latex, ya que es ampliamente utilizado para documentar este tipo de expresiones en documentos cientificos
    o enfocados a la educación.a
</p>
<p>
    El próposito de este proyecto es sólo de investigacion y el código, actualmente en desarrollo, se encuentra disponible en <a href="https://github.com/delaturo/omer">Github</a>.
</p>
